* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:focus {
  text-decoration: none !important;

}
p {
 
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}
.set {
  margin: 80px 80px;
}
/* Header Style */
header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 20px;
  background-color: #232323;

}
header .navbar {
  padding: 10px 0px;
}
.background-header .navbar {
  padding: 17px 0px;
}
.pic-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./cars/cars/car.jpeg) center/cover fixed no-repeat;
  min-height: 50rem;
  
}

.awesome {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
ul {
  list-style-type: none;
  background-color: #333;
  padding: 10px;
  overflow: hidden;
  line-height: 45px;
  border-radius: 4px;
  position: fixed;
  width: 100%;
}
#logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  float: left;
  padding-left: 10px;
}
li {
  display: block;
  float: right;
  padding: 10px;
}

li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 5px;
}
li a:hover {
  background-color: #111;
  line-height: 25px;
  border-radius: 8px;
}
h4 {
  color: #f33f3f;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}
em {
  font-style: normal;
  color: #f33f3f;
}
/* Latest Produtcs */

.latest-products {
  margin-top: 100px;
}
.container .row {
  padding-bottom: 0px !important;
  border-bottom: none !important;
  border-bottom: 1px solid #eee;
  padding-bottom: 60px;
}
.section-heading {
  text-align: left;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}
.section-heading h2 {
  font-size: 28px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 15px;
}
.product-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
  display: inline-block;
}

.product-item .down-content {
  padding: 30px;
  position: relative;
}

.product-item .down-content h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 20px;
}

.product-item .down-content h6 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #121212;
}

.product-item .down-content h6 small {
  color: #999;
}

.product-item .down-content p {
  margin-bottom: 20px;
}

.product-item .down-content ul li {
  display: inline-block;
}

.product-item .down-content ul li i {
  color: #f33f3f;
  font-size: 14px;
}

.product-item .down-content span {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 13px;
  color: #f33f3f;
  font-weight: 500;
}

.product-item .down-content span a {
  color: #f33f3f;
  display: inline-block;
  margin-bottom: 3px;
}
.best-features {
  margin-bottom: 25px;
  text-align: left;
}
#shft {
  width: 50%;
}
a.filled-button {
  background-color: #f33f3f;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
}

a.filled-button:hover {
  background-color: #121212;
  color: #fff;
}
.right-image {
  float: right;
  /* margin-top: -190px; */
}
.service-item {
  text-align: center;
  margin-bottom: 30px;
  display: inline;
}
a .service-item .icon {
  background-color: #f7f7f7;
  padding: 40px;
}

.service-item .icon i {
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  background-color: #f33f3f;
  color: #fff;
  font-size: 32px;
}

.service-item .down-content {
  background-color: #fff;
  padding: 40px 30px;
}

.service-item .down-content h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 20px;
}

.service-item .down-content h6 {
  margin-bottom: 15px;
}

.service-item .down-content p {
  margin-bottom: 25px;
}

.services-item-image {
  display: block;
}
.n-m {
  margin: 0 !important;
}
/* Clients */

.happy-clients {
  margin-top: 100px;
  margin-bottom: 40px;
}

.client-item h6 {
  line-height: 1.6;
}
.about3{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(/cars/cars/contact.jpg) center/cover fixed no-repeat;
min-height: 20rem;
 
}
#mimi{
  font-size: 15px;
  padding: 20px;
}
.quality{
  padding: 20px;
}
.stress .about{
  
  padding-top: 150px;
  font-size: 80px;
  color: white;
  text-align: center;
  
}
.nino{
  font-size: 50px;
  text-align: center;
  padding: 100px;
  margin-left: 80px;
  color: white;
  font-size: 40px;
  margin: auto;
  
}
.pic-bg .drop{
  color: white;
  font-size: 80px;
  padding-top: 300px;
  text-align: center;
  
}
/* .wrap{
  font-size: 30px;
  color: #f33f3f;
  margin-top: 80px;
  text-align: center;
} */
.gala{
  color: red;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid white;
  width: 190px;
  margin: auto;
  padding: 10px;
  font-size: 25px;
}
.gala:hover{
  background-color: white;
  opacity: 0.6;
  color: #1a6692;
  transition: 0.7s;
}
/* .abou2{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Images/tema\ habor.jpg) center/cover fixed no-repeat;
  min-height: 10rem;
} */
 .construction{
   padding-top: 150px;
  font-size: 80px;
  color: white;
  text-align: center;
}
.stress{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./Images/about.jpg) center/cover fixed no-repeat;
min-height: 17rem;
}
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
  background: #F0F1F8;
}
.right-side .input-box textarea{
  padding-top: 6px;
  background: #F0F1F8;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}
.gallery {
	display: flex;
	padding: 2px;
	transition: 0.3s;
  
}
	
.gallery:hover __image {
		filter: grayscale(1);
	}
	
	.gallery__column {
		display: flex;
		flex-direction: column;
		/* width: 25%; */
	}
	

		
	
.gallery__image:hover {
				filter: grayscale(0);
			}
			
.gallery__caption:hover {
				opacity: 1;
			}
	
	
	.gallery__thumb:hover {
		position: relative;
	}
	
	.gallery__image:hover {
		display: block;
		width: 100%;
		transition: 0.3s;
  }
		.gallery:hover {
			transform: scale(1.1);
		}

	
.gallery__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}


@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}


@media all and (max-width:992px) {
  body{
      background: slateblue;
  }
      h1{
          color: red;
      }
 .about{
      color: white;
      size: 20px;
  }
  
}
@media all and (max-width:550px) {
  body{
      background: black;
  }
      /* h1{
          color: aqua;
      } */
 .about{
      color: white;
      size: 20px;
  }
  
}